[build]
  base = "."
  publish = "frontend/.next"
  command = "npm install && npm run build --workspace=frontend"
  environment = { NODE_VERSION = "20" }

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/.well-known/*"
  to = "/.well-known/:splat"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "https://api.snel.famile.xyz/api/:splat"
  status = 200
  force = true