name: Check Requirements

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-requirements:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Generate and check requirements.txt
        run: |
          poetry export -f requirements.txt --output requirements.txt --without-hashes
          if [[ $(git diff requirements.txt) ]]; then
            echo "requirements.txt is out of sync with pyproject.toml"
            echo "Please run 'poetry export -f requirements.txt --output requirements.txt --without-hashes' and commit the changes"
            exit 1
          fi
